body {
  background-color: aquamarine;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  
}

.bord {
  width: 100vw
}
.partTwo {
  display: flex;
}

.btn {
  padding: 20px;
  font-size: 40px;
  border: none;
  background-color: aquamarine;
}